.weeks{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.week{
  flex: 0 0 100px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}